@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterIntranet.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumbs -->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Content("~/Intranet/Index")">Inicio</a>
                </li>
                <li class="active">Panel de Administración</li>
            </ul>
        </div>
        <div class="clearfix">&nbsp;</div>
        <!-- Breadcrumbs -->

        <div class="col-lg-12 col">
            <a href="#" class="tile-button btn btn-white">
                <div class="tile-content-wrapper">
                    <i class="fa fa-line-chart"></i>
                    <div class="tile-content text-primary">
                        <span>Sistema  Canchitas</span>
                    </div>
                    <small>
                        Software ...........
                    </small>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
        
        



    </div>
</div>
