/****** Object:  Table [dbo].[Cancha]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cancha](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[largo] [int] NOT NULL,
	[ancho] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[tipoCampo] [varchar](150) NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cancha] ON
INSERT [dbo].[Cancha] ([id], [largo], [ancho], [precio], [activo], [tipoCampo]) VALUES (1, 10, 10, 10, 1, NULL)
SET IDENTITY_INSERT [dbo].[Cancha] OFF
/****** Object:  Table [dbo].[Pais]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON
INSERT [dbo].[Pais] ([id], [nombre], [activo]) VALUES (1, N'Peru', 1)
SET IDENTITY_INSERT [dbo].[Pais] OFF
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_TipoUsuario_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (1, N'admin', 1)
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (2, N'empresa', 1)
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nick] [varchar](50) NOT NULL,
	[clave] [varchar](150) NOT NULL,
	[idTipoUsuario] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Usuario_nick] UNIQUE NONCLUSTERED 
(
	[nick] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (8, N'yuri2', N'yuri2', 2, 1)
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (9, N'admin', N'admin', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[Departamento]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[activo] [bit] NULL,
	[idPais] [int] NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Departamento_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (1, N'AMAZONAS', 1, 1)
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (2, N'ANCASH', 1, 1)
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (3, N'APURIMAC', 1, 1)
SET IDENTITY_INSERT [dbo].[Departamento] OFF
/****** Object:  Table [dbo].[Reserva]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCancha] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[horaInicio] [time](7) NULL,
	[horaFin] [time](7) NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Provincia_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (1, N'CHACHAPOYAS', 1, 1)
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (2, N'BAGUA', 1, 1)
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (3, N'BONGARA', 1, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Provincia] OFF
/****** Object:  Table [dbo].[Pelotero]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pelotero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[celular] [int] NOT NULL,
	[email] [varchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Pelotero_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Empresa_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON
INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (3, N'YURI S.A', 8, N'direccion', 1)
INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (4, N'Admin', 9, N'San Isidro #566', 0)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
/****** Object:  Table [dbo].[SolicitudAmistad]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SolicitudAmistad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReceptor] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SolicitudAmistad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mensaje]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReceptor] [int] NOT NULL,
	[descripcion] [varchar](650) NOT NULL,
	[visto] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Mensaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[idProvincia] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (1, N'CHACHAPOYAS', 1, 1)
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (2, N'ASUNCION', 1, 1)
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (3, N'BALSAS', 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [dbo].[Distrito] OFF
/****** Object:  Table [dbo].[DetalleInvitados]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleInvitados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReserva] [int] NOT NULL,
 CONSTRAINT [PK_DetalleInvitados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amigo]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amigo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idAmigo] [int] NOT NULL,
 CONSTRAINT [PK_Amigo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentroDeportivo]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CentroDeportivo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](150) NULL,
	[telefono] [varchar](15) NULL,
	[celular] [varchar](50) NULL,
	[idDistrito] [int] NULL,
	[nroCanchas] [nchar](10) NULL,
	[balon] [bit] NULL,
	[camisetas] [bit] NULL,
	[idEmpresa] [int] NULL,
	[nombre] [varchar](50) NULL,
	[foto] [varchar](150) NULL,
	[latitud] [float] NULL,
	[longitud] [float] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_CentroDeportivo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CentroDeportivoCancha]    Script Date: 11/10/2015 11:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroDeportivoCancha](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCentroDeportivo] [int] NULL,
	[idCancha] [int] NULL,
 CONSTRAINT [PK_CentroDeportivoCancha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Usuario_TipoUsuario]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
/****** Object:  ForeignKey [FK_Departamento_Pais]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Pais] FOREIGN KEY([idPais])
REFERENCES [dbo].[Pais] ([id])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamento_Pais]
GO
/****** Object:  ForeignKey [FK_Reserva_Cancha]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cancha] FOREIGN KEY([idCancha])
REFERENCES [dbo].[Cancha] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cancha]
GO
/****** Object:  ForeignKey [FK_Reserva_Usuario]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Usuario]
GO
/****** Object:  ForeignKey [FK_Provincia_Departamento]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
/****** Object:  ForeignKey [FK_Pelotero_Usuario]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Pelotero]  WITH CHECK ADD  CONSTRAINT [FK_Pelotero_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Pelotero] CHECK CONSTRAINT [FK_Pelotero_Usuario]
GO
/****** Object:  ForeignKey [FK_Empresa_Usuario]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Usuario]
GO
/****** Object:  ForeignKey [FK_SolicitudAmistad_Pelotero]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[SolicitudAmistad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAmistad_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[SolicitudAmistad] CHECK CONSTRAINT [FK_SolicitudAmistad_Pelotero]
GO
/****** Object:  ForeignKey [FK_SolicitudAmistad_Pelotero1]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[SolicitudAmistad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAmistad_Pelotero1] FOREIGN KEY([idReceptor])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[SolicitudAmistad] CHECK CONSTRAINT [FK_SolicitudAmistad_Pelotero1]
GO
/****** Object:  ForeignKey [FK_Mensaje_Pelotero]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Pelotero]
GO
/****** Object:  ForeignKey [FK_Mensaje_Pelotero1]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Pelotero1] FOREIGN KEY([idReceptor])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Pelotero1]
GO
/****** Object:  ForeignKey [FK_Distrito_Provincia]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
/****** Object:  ForeignKey [FK_DetalleInvitados_Pelotero]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[DetalleInvitados]  WITH CHECK ADD  CONSTRAINT [FK_DetalleInvitados_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[DetalleInvitados] CHECK CONSTRAINT [FK_DetalleInvitados_Pelotero]
GO
/****** Object:  ForeignKey [FK_DetalleInvitados_Reserva]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[DetalleInvitados]  WITH CHECK ADD  CONSTRAINT [FK_DetalleInvitados_Reserva] FOREIGN KEY([idReserva])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[DetalleInvitados] CHECK CONSTRAINT [FK_DetalleInvitados_Reserva]
GO
/****** Object:  ForeignKey [FK_Amigo_Pelotero]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Amigo]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[Amigo] CHECK CONSTRAINT [FK_Amigo_Pelotero]
GO
/****** Object:  ForeignKey [FK_Amigo_Pelotero1]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[Amigo]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Pelotero1] FOREIGN KEY([idAmigo])
REFERENCES [dbo].[Pelotero] ([id])
GO
ALTER TABLE [dbo].[Amigo] CHECK CONSTRAINT [FK_Amigo_Pelotero1]
GO
/****** Object:  ForeignKey [FK_CentroDeportivo_Distrito]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[CentroDeportivo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivo_Distrito] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[Distrito] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivo] CHECK CONSTRAINT [FK_CentroDeportivo_Distrito]
GO
/****** Object:  ForeignKey [FK_CentroDeportivo_Empresa]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[CentroDeportivo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivo_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivo] CHECK CONSTRAINT [FK_CentroDeportivo_Empresa]
GO
/****** Object:  ForeignKey [FK_CentroDeportivoCancha_Cancha]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[CentroDeportivoCancha]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivoCancha_Cancha] FOREIGN KEY([idCancha])
REFERENCES [dbo].[Cancha] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivoCancha] CHECK CONSTRAINT [FK_CentroDeportivoCancha_Cancha]
GO
/****** Object:  ForeignKey [FK_CentroDeportivoCancha_CentroDeportivo]    Script Date: 11/10/2015 11:47:44 ******/
ALTER TABLE [dbo].[CentroDeportivoCancha]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivoCancha_CentroDeportivo] FOREIGN KEY([idCentroDeportivo])
REFERENCES [dbo].[CentroDeportivo] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivoCancha] CHECK CONSTRAINT [FK_CentroDeportivoCancha_CentroDeportivo]
GO
