CREATE TABLE [dbo].[Campo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[largo] [int] NOT NULL,
	[ancho] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[tipoCampo] [varchar](150) NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Campo] ON
INSERT [dbo].[Campo] ([id], [largo], [ancho], [precio], [activo], [tipoCampo], [nombre]) VALUES (1, 10, 10, 10, 1, N'Gras', N'Campo1')
SET IDENTITY_INSERT [dbo].[Campo] OFF
/****** Object:  Table [dbo].[Pais]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON
INSERT [dbo].[Pais] ([id], [nombre], [activo]) VALUES (1, N'Peru', 1)
SET IDENTITY_INSERT [dbo].[Pais] OFF
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_TipoUsuario_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (1, N'admin', 1)
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (2, N'empresa', 1)
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (3, N'deportista', 1)
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nick] [varchar](50) NOT NULL,
	[clave] [varchar](150) NOT NULL,
	[idTipoUsuario] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Usuario_nick] UNIQUE NONCLUSTERED 
(
	[nick] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (8, N'yuri2', N'yuri2', 2, 1)
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (9, N'admin', N'admin', 1, 1)
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (10, N'moises', N'moises', 3, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[Departamento]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[activo] [bit] NULL,
	[idPais] [int] NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Departamento_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (1, N'AMAZONAS', 1, 1)
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (2, N'ANCASH', 1, 1)
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (3, N'APURIMAC', 1, 1)
SET IDENTITY_INSERT [dbo].[Departamento] OFF
/****** Object:  Table [dbo].[Deportista]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Deportista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[celular] [int] NOT NULL,
	[email] [varchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Pelotero_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Deportista] ON
INSERT [dbo].[Deportista] ([id], [nombre], [apellidos], [idUsuario], [celular], [email], [activo]) VALUES (1, N'Moises', N'Lazaro', 10, 468889, N'moisew@hotnail.com', 1)
SET IDENTITY_INSERT [dbo].[Deportista] OFF
/****** Object:  Table [dbo].[Empresa]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Empresa_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON
INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (3, N'YURI S.A', 8, N'direccion', 1)
INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (4, N'Admin', 9, N'San Isidro #566', 0)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
/****** Object:  Table [dbo].[Reserva]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCancha] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[horaInicio] [time](7) NULL,
	[horaFin] [time](7) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON
INSERT [dbo].[Reserva] ([id], [fechaHora], [idUsuario], [idCancha], [activo], [horaInicio], [horaFin], [fecha]) VALUES (1, CAST(0x0000A54D0181FD9F AS DateTime), 8, 1, 1, CAST(0x0700000000000000 AS Time), CAST(0x0700D088C3100000 AS Time), CAST(0xA83A0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Reserva] OFF
/****** Object:  Table [dbo].[Provincia]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Uq_Provincia_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (1, N'CHACHAPOYAS', 1, 1)
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (2, N'BAGUA', 1, 1)
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (3, N'BONGARA', 1, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Provincia] OFF
/****** Object:  Table [dbo].[SolicitudAmistad]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SolicitudAmistad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReceptor] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SolicitudAmistad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mensaje]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReceptor] [int] NOT NULL,
	[descripcion] [varchar](650) NOT NULL,
	[visto] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Mensaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[idProvincia] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (1, N'CHACHAPOYAS', 1, 1)
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (2, N'ASUNCION', 1, 1)
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (3, N'BALSAS', 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [dbo].[Distrito] OFF
/****** Object:  Table [dbo].[DetalleInvitados]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleInvitados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDeportista] [int] NOT NULL,
	[idReserva] [int] NOT NULL,
 CONSTRAINT [PK_DetalleInvitados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amigo]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amigo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDeportista] [int] NOT NULL,
	[idAmigo] [int] NOT NULL,
 CONSTRAINT [PK_Amigo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentroDeportivo]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CentroDeportivo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[telefono] [varchar](15) NOT NULL,
	[celular] [varchar](50) NOT NULL,
	[idDistrito] [int] NOT NULL,
	[nroCanchas] [nchar](10) NOT NULL,
	[balon] [bit] NOT NULL,
	[camisetas] [bit] NOT NULL,
	[idEmpresa] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[foto] [varchar](150) NOT NULL,
	[latitud] [float] NOT NULL,
	[longitud] [float] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_CentroDeportivo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CentroDeportivo] ON
INSERT [dbo].[CentroDeportivo] ([id], [direccion], [telefono], [celular], [idDistrito], [nroCanchas], [balon], [camisetas], [idEmpresa], [nombre], [foto], [latitud], [longitud], [activo]) VALUES (1, N'Av Teodoro Valcárcel 1258', N'6546466', N'94555555', 1127, N'5         ', 1, 1, 3, N'Centro Deportivo Huanchaco', N'', -8.095735, -79.028173, 1)
SET IDENTITY_INSERT [dbo].[CentroDeportivo] OFF
/****** Object:  Table [dbo].[CentroDeportivoCampo]    Script Date: 11/12/2015 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroDeportivoCampo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCentroDeportivo] [int] NULL,
	[idCancha] [int] NULL,
 CONSTRAINT [PK_CentroDeportivoCancha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CentroDeportivoCampo] ON
INSERT [dbo].[CentroDeportivoCampo] ([id], [idCentroDeportivo], [idCancha]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[CentroDeportivoCampo] OFF
/****** Object:  ForeignKey [FK_Usuario_TipoUsuario]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
/****** Object:  ForeignKey [FK_Departamento_Pais]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Pais] FOREIGN KEY([idPais])
REFERENCES [dbo].[Pais] ([id])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamento_Pais]
GO
/****** Object:  ForeignKey [FK_Pelotero_Usuario]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Deportista]  WITH CHECK ADD  CONSTRAINT [FK_Pelotero_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Deportista] CHECK CONSTRAINT [FK_Pelotero_Usuario]
GO
/****** Object:  ForeignKey [FK_Empresa_Usuario]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Usuario]
GO
/****** Object:  ForeignKey [FK_Reserva_Cancha]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cancha] FOREIGN KEY([idCancha])
REFERENCES [dbo].[Campo] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cancha]
GO
/****** Object:  ForeignKey [FK_Reserva_Usuario]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Usuario]
GO
/****** Object:  ForeignKey [FK_Provincia_Departamento]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
/****** Object:  ForeignKey [FK_SolicitudAmistad_Pelotero]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[SolicitudAmistad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAmistad_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[SolicitudAmistad] CHECK CONSTRAINT [FK_SolicitudAmistad_Pelotero]
GO
/****** Object:  ForeignKey [FK_SolicitudAmistad_Pelotero1]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[SolicitudAmistad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAmistad_Pelotero1] FOREIGN KEY([idReceptor])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[SolicitudAmistad] CHECK CONSTRAINT [FK_SolicitudAmistad_Pelotero1]
GO
/****** Object:  ForeignKey [FK_Mensaje_Pelotero]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Pelotero]
GO
/****** Object:  ForeignKey [FK_Mensaje_Pelotero1]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Pelotero1] FOREIGN KEY([idReceptor])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Pelotero1]
GO
/****** Object:  ForeignKey [FK_Distrito_Provincia]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
/****** Object:  ForeignKey [FK_DetalleInvitados_Pelotero]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[DetalleInvitados]  WITH CHECK ADD  CONSTRAINT [FK_DetalleInvitados_Pelotero] FOREIGN KEY([idDeportista])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[DetalleInvitados] CHECK CONSTRAINT [FK_DetalleInvitados_Pelotero]
GO
/****** Object:  ForeignKey [FK_DetalleInvitados_Reserva]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[DetalleInvitados]  WITH CHECK ADD  CONSTRAINT [FK_DetalleInvitados_Reserva] FOREIGN KEY([idReserva])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[DetalleInvitados] CHECK CONSTRAINT [FK_DetalleInvitados_Reserva]
GO
/****** Object:  ForeignKey [FK_Amigo_Pelotero]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Amigo]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Pelotero] FOREIGN KEY([idDeportista])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Amigo] CHECK CONSTRAINT [FK_Amigo_Pelotero]
GO
/****** Object:  ForeignKey [FK_Amigo_Pelotero1]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[Amigo]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Pelotero1] FOREIGN KEY([idAmigo])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Amigo] CHECK CONSTRAINT [FK_Amigo_Pelotero1]
GO
/****** Object:  ForeignKey [FK_CentroDeportivo_Distrito]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[CentroDeportivo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivo_Distrito] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[Distrito] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivo] CHECK CONSTRAINT [FK_CentroDeportivo_Distrito]
GO
/****** Object:  ForeignKey [FK_CentroDeportivo_Empresa]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[CentroDeportivo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivo_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivo] CHECK CONSTRAINT [FK_CentroDeportivo_Empresa]
GO
/****** Object:  ForeignKey [FK_CentroDeportivoCancha_Cancha]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[CentroDeportivoCampo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivoCancha_Cancha] FOREIGN KEY([idCancha])
REFERENCES [dbo].[Campo] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivoCampo] CHECK CONSTRAINT [FK_CentroDeportivoCancha_Cancha]
GO
/****** Object:  ForeignKey [FK_CentroDeportivoCancha_CentroDeportivo]    Script Date: 11/12/2015 12:29:31 ******/
ALTER TABLE [dbo].[CentroDeportivoCampo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivoCancha_CentroDeportivo] FOREIGN KEY([idCentroDeportivo])
REFERENCES [dbo].[CentroDeportivo] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivoCampo] CHECK CONSTRAINT [FK_CentroDeportivoCancha_CentroDeportivo]
GO
