
GO
CREATE TABLE [dbo].[Amigo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDeportista] [int] NOT NULL,
	[idAmigo] [int] NOT NULL,
 CONSTRAINT [PK_Amigo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Campo]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Campo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[largo] [int] NOT NULL,
	[ancho] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[tipoCampo] [varchar](150) NULL,
	[nombre] [varchar](50) NULL,
	[idCentroDeportivo] [int] NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CentroDeportivo]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CentroDeportivo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[telefono] [varchar](15) NOT NULL,
	[celular] [varchar](50) NOT NULL,
	[idDistrito] [int] NOT NULL,
	[nroCanchas] [nchar](10) NOT NULL,
	[balon] [bit] NOT NULL,
	[camisetas] [bit] NOT NULL,
	[idEmpresa] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[foto] [varchar](150) NOT NULL,
	[latitud] [float] NOT NULL,
	[longitud] [float] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_CentroDeportivo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[activo] [bit] NULL,
	[idPais] [int] NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Deportista]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Deportista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[celular] [int] NOT NULL,
	[email] [varchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetalleInvitados]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleInvitados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDeportista] [int] NOT NULL,
	[idReserva] [int] NOT NULL,
 CONSTRAINT [PK_DetalleInvitados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[idProvincia] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mensaje]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReceptor] [int] NOT NULL,
	[descripcion] [varchar](650) NOT NULL,
	[visto] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Mensaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCancha] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SolicitudAmistad]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SolicitudAmistad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[idPelotero] [int] NOT NULL,
	[idReceptor] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SolicitudAmistad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/11/2015 11:32:26 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nick] [varchar](50) NOT NULL,
	[clave] [varchar](150) NOT NULL,
	[idTipoUsuario] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Amigo] ON 

INSERT [dbo].[Amigo] ([id], [idDeportista], [idAmigo]) VALUES (4, 1, 3)
INSERT [dbo].[Amigo] ([id], [idDeportista], [idAmigo]) VALUES (5, 3, 1)
INSERT [dbo].[Amigo] ([id], [idDeportista], [idAmigo]) VALUES (6, 1, 4)
SET IDENTITY_INSERT [dbo].[Amigo] OFF
SET IDENTITY_INSERT [dbo].[Campo] ON 

INSERT [dbo].[Campo] ([id], [largo], [ancho], [precio], [activo], [tipoCampo], [nombre], [idCentroDeportivo]) VALUES (1, 10, 10, 10, 1, NULL, N'Campo1', 1)
INSERT [dbo].[Campo] ([id], [largo], [ancho], [precio], [activo], [tipoCampo], [nombre], [idCentroDeportivo]) VALUES (2, 15, 12, 8, 1, N'Gras', N'campo 2', 1)
INSERT [dbo].[Campo] ([id], [largo], [ancho], [precio], [activo], [tipoCampo], [nombre], [idCentroDeportivo]) VALUES (3, 55, 22, 33, 1, N'Sintetico', N'Campo 3', 1)
SET IDENTITY_INSERT [dbo].[Campo] OFF
SET IDENTITY_INSERT [dbo].[CentroDeportivo] ON 

INSERT [dbo].[CentroDeportivo] ([id], [direccion], [telefono], [celular], [idDistrito], [nroCanchas], [balon], [camisetas], [idEmpresa], [nombre], [foto], [latitud], [longitud], [activo]) VALUES (1, N'Av Teodoro Valcárcel 1258', N'6546466', N'94555555', 1127, N'5         ', 1, 1, 3, N'Centro Deportivo Huanchaco', N'2015_noviembre_14_9_14_02_chart.png', -8.095735, -79.028173, 1)
INSERT [dbo].[CentroDeportivo] ([id], [direccion], [telefono], [celular], [idDistrito], [nroCanchas], [balon], [camisetas], [idEmpresa], [nombre], [foto], [latitud], [longitud], [activo]) VALUES (4, N'12345678777', N'123', N'98765445', 376, N'4         ', 1, 0, 3, N'Mi nuevo centro depor', N'2015_noviembre_14_11_01_59_12188997_998076073548136_2029986483510577025_n.jpg', -10.141931686131018, -75.76171875, 1)
INSERT [dbo].[CentroDeportivo] ([id], [direccion], [telefono], [celular], [idDistrito], [nroCanchas], [balon], [camisetas], [idEmpresa], [nombre], [foto], [latitud], [longitud], [activo]) VALUES (5, N'Av. Ejercito', N'929292929', N'939293293', 1127, N'2         ', 1, 1, 3, N'Sede Principal Bombonera', N'2015_noviembre_15_0_05_06_canchita.jpg', -8.1118731612314452, -79.013444557785988, 1)
SET IDENTITY_INSERT [dbo].[CentroDeportivo] OFF
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (1, N'AMAZONAS', 1, 1)
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (2, N'ANCASH', 1, 1)
INSERT [dbo].[Departamento] ([id], [nombre], [activo], [idPais]) VALUES (3, N'APURIMAC', 1, 1)
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Deportista] ON 

INSERT [dbo].[Deportista] ([id], [nombre], [apellidos], [idUsuario], [celular], [email], [activo]) VALUES (1, N'Moises', N'Lazaro', 10, 468889, N'moisew@hotnail.com', 1)
INSERT [dbo].[Deportista] ([id], [nombre], [apellidos], [idUsuario], [celular], [email], [activo]) VALUES (2, N'lazaro', N'lazaro', 19, 788999, N'lazaro@gmail.com', 1)
INSERT [dbo].[Deportista] ([id], [nombre], [apellidos], [idUsuario], [celular], [email], [activo]) VALUES (3, N'yuri', N'angulo', 20, 57899, N'yuri@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Deportista] OFF
SET IDENTITY_INSERT [dbo].[DetalleInvitados] ON 

INSERT [dbo].[DetalleInvitados] ([id], [idDeportista], [idReserva]) VALUES (1, 2, 19)
INSERT [dbo].[DetalleInvitados] ([id], [idDeportista], [idReserva]) VALUES (2, 2, 19)
INSERT [dbo].[DetalleInvitados] ([id], [idDeportista], [idReserva]) VALUES (3, 3, 19)
SET IDENTITY_INSERT [dbo].[DetalleInvitados] OFF
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (1, N'CHACHAPOYAS', 1, 1)
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (2, N'ASUNCION', 1, 1)
INSERT [dbo].[Distrito] ([id], [nombre], [idProvincia], [activo]) VALUES (3, N'BALSAS', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Distrito] OFF
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (3, N'YURI S.A', 8, N'direccion', 1)
INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (4, N'Admin', 9, N'San Isidro #566', 0)
INSERT [dbo].[Empresa] ([id], [nombre], [idUsuario], [direccion], [activo]) VALUES (5, N'Aprobe', 11, N'Direccion para mi t2', 1)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([id], [nombre], [activo]) VALUES (1, N'Peru', 1)
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (1, N'CHACHAPOYAS', 1, 1)
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (2, N'BAGUA', 1, 1)
INSERT [dbo].[Provincia] ([id], [nombre], [idDepartamento], [activo]) VALUES (3, N'BONGARA', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([id], [fechaHora], [idUsuario], [idCancha], [activo], [horaInicio], [horaFin], [fecha]) VALUES (5, CAST(0x0000A55100080670 AS DateTime), 8, 5, 1, CAST(0x0700D088C3100000 AS Time), CAST(0x0700A01187210000 AS Time), CAST(0xB83A0B00 AS Date))
INSERT [dbo].[Reserva] ([id], [fechaHora], [idUsuario], [idCancha], [activo], [horaInicio], [horaFin], [fecha]) VALUES (6, CAST(0x0000A5510009A94B AS DateTime), 12, 6, 1, CAST(0x070068C461080000 AS Time), CAST(0x0700D088C3100000 AS Time), CAST(0xBA3A0B00 AS Date))
INSERT [dbo].[Reserva] ([id], [fechaHora], [idUsuario], [idCancha], [activo], [horaInicio], [horaFin], [fecha]) VALUES (7, CAST(0x0000A551009F919D AS DateTime), 8, 7, 1, CAST(0x0700D088C3100000 AS Time), CAST(0x0700384D25190000 AS Time), CAST(0xAC3A0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Reserva] OFF
SET IDENTITY_INSERT [dbo].[SolicitudAmistad] ON 

INSERT [dbo].[SolicitudAmistad] ([id], [fechaHora], [activo], [idPelotero], [idReceptor], [estado]) VALUES (1, CAST(0x0000A55300CA94E9 AS DateTime), 1, 1, 3, N'aceptado')
INSERT [dbo].[SolicitudAmistad] ([id], [fechaHora], [activo], [idPelotero], [idReceptor], [estado]) VALUES (2, CAST(0x0000A55300E7B8D7 AS DateTime), 1, 1, 4, N'pendiente')
INSERT [dbo].[SolicitudAmistad] ([id], [fechaHora], [activo], [idPelotero], [idReceptor], [estado]) VALUES (3, CAST(0x0000A55300E7B8E9 AS DateTime), 1, 1, 5, N'pendiente')
SET IDENTITY_INSERT [dbo].[SolicitudAmistad] OFF
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (1, N'admin', 1)
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (2, N'empresa', 1)
INSERT [dbo].[TipoUsuario] ([id], [nombre], [activo]) VALUES (3, N'deportista', 1)
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (8, N'yuri2', N'yuri2', 2, 1)
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (9, N'admin', N'admin', 1, 1)
INSERT [dbo].[Usuario] ([id], [nick], [clave], [idTipoUsuario], [activo]) VALUES (10, N'moises', N'moises', 3, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [Uq_Departamento_nombre]    Script Date: 29/11/2015 11:32:35 a.m. ******/
ALTER TABLE [dbo].[Departamento] ADD  CONSTRAINT [Uq_Departamento_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Uq_Pelotero_email]    Script Date: 29/11/2015 11:32:35 a.m. ******/
ALTER TABLE [dbo].[Deportista] ADD  CONSTRAINT [Uq_Pelotero_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Uq_Empresa_nombre]    Script Date: 29/11/2015 11:32:35 a.m. ******/
ALTER TABLE [dbo].[Empresa] ADD  CONSTRAINT [Uq_Empresa_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Uq_Provincia_nombre]    Script Date: 29/11/2015 11:32:35 a.m. ******/
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [Uq_Provincia_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Uq_TipoUsuario_nombre]    Script Date: 29/11/2015 11:32:35 a.m. ******/
ALTER TABLE [dbo].[TipoUsuario] ADD  CONSTRAINT [Uq_TipoUsuario_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Uq_Usuario_nick]    Script Date: 29/11/2015 11:32:35 a.m. ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [Uq_Usuario_nick] UNIQUE NONCLUSTERED 
(
	[nick] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Amigo]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Pelotero] FOREIGN KEY([idDeportista])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Amigo] CHECK CONSTRAINT [FK_Amigo_Pelotero]
GO
ALTER TABLE [dbo].[Amigo]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Pelotero1] FOREIGN KEY([idAmigo])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Amigo] CHECK CONSTRAINT [FK_Amigo_Pelotero1]
GO
ALTER TABLE [dbo].[Campo]  WITH CHECK ADD  CONSTRAINT [FK_Campo_CentroDeportivo] FOREIGN KEY([idCentroDeportivo])
REFERENCES [dbo].[CentroDeportivo] ([id])
GO
ALTER TABLE [dbo].[Campo] CHECK CONSTRAINT [FK_Campo_CentroDeportivo]
GO
ALTER TABLE [dbo].[CentroDeportivo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivo_Distrito] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[Distrito] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivo] CHECK CONSTRAINT [FK_CentroDeportivo_Distrito]
GO
ALTER TABLE [dbo].[CentroDeportivo]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeportivo_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[CentroDeportivo] CHECK CONSTRAINT [FK_CentroDeportivo_Empresa]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Pais] FOREIGN KEY([idPais])
REFERENCES [dbo].[Pais] ([id])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamento_Pais]
GO
ALTER TABLE [dbo].[Deportista]  WITH CHECK ADD  CONSTRAINT [FK_Pelotero_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Deportista] CHECK CONSTRAINT [FK_Pelotero_Usuario]
GO
ALTER TABLE [dbo].[DetalleInvitados]  WITH CHECK ADD  CONSTRAINT [FK_DetalleInvitados_Pelotero] FOREIGN KEY([idDeportista])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[DetalleInvitados] CHECK CONSTRAINT [FK_DetalleInvitados_Pelotero]
GO
ALTER TABLE [dbo].[DetalleInvitados]  WITH CHECK ADD  CONSTRAINT [FK_DetalleInvitados_Reserva] FOREIGN KEY([idReserva])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[DetalleInvitados] CHECK CONSTRAINT [FK_DetalleInvitados_Reserva]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Usuario]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Pelotero]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Pelotero1] FOREIGN KEY([idReceptor])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Pelotero1]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cancha] FOREIGN KEY([idCancha])
REFERENCES [dbo].[Campo] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cancha]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Usuario]
GO
ALTER TABLE [dbo].[SolicitudAmistad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAmistad_Pelotero] FOREIGN KEY([idPelotero])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[SolicitudAmistad] CHECK CONSTRAINT [FK_SolicitudAmistad_Pelotero]
GO
ALTER TABLE [dbo].[SolicitudAmistad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAmistad_Pelotero1] FOREIGN KEY([idReceptor])
REFERENCES [dbo].[Deportista] ([id])
GO
ALTER TABLE [dbo].[SolicitudAmistad] CHECK CONSTRAINT [FK_SolicitudAmistad_Pelotero1]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
USE [master]
GO
